.app__footer {
  // border: 1px solid black;
  padding: 1rem 1rem;
  background-color: var(--bg-dark);
  color: var(--light-color);
}

.app__footer-socials {
  // border: 1px solid black;
  padding-top: 1rem;
  height: 10vh;
}

.app__footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 1rem;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--light-color);
      // fill: var(--dark-color);
    }
  }
}

.app__footer-credits {
  // border: 1px solid red;
  height: 5vh;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}