.app__footer {
  // border: 1px solid black;
  padding: 1rem 2rem;
}

.app__footer-socials {
  // border: 1px solid black;
  padding: 2rem;
  height: 15vh;
}

.app__footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 1rem;

    svg {
      width: 20px;
      height: 20px;
      // fill: var(--light-color);
      fill: var(--dark-color);
    }
  }
}

.app__footer-credits {
  // border: 1px solid red;
  height: 5vh;

  text-align: center;
  padding: 1rem;
}