.app__discography-wrapper {
  display: flex;
  justify-content: space-evenly;

  // xs screens max-width: 400px
  @media screen and (max-width: 25em) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.app__discography-album {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding-top: 1em;
  }

  p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;

    // xs screens max-width: 400px
    @media screen and (max-width: 25em) {
      font-size: 1rem;
    }
  }

  li {
    list-style: none;
  }
}

.discography__album-img {
  width: 25em;
  height: 25em;
  padding: 1rem 0;

  // xs screens max-width: 400px
  // @media screen and (max-width: 25em) {
  //   width: 10em;
  //   height: 10em;
  // }

  // sm screens max-width: 640px
  @media screen and (max-width: 40em) {
    width: 15em;
    height: 15em;
  }
}
