.app__discography-menu {
  h1 {
    margin: 5rem auto;
    text-align: center;
    font-size: 5em;
  }
}

.app__discography-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .app__discography-menu-album {
    margin: auto 1rem;
  }

  .app__discography-menu-album-img {
    width: 30em;
    height: 30em;
  }
}

.app__discography-menu-nav {
  display: flex;
  justify-content: space-between;

  .home-link {
    height: 3rem;
    width: 3rem;
    filter: invert(92%) sepia(13%) saturate(793%) hue-rotate(187deg)
      brightness(106%) contrast(94%);
  }
}
