.app__discography {
  background-color: var(--light-color);
  color: var(--dark-color);
  min-height: 100vh;

  .nav-link {
    // border: 1px solid black;
    display: flex;
    // justify-content: baseline;
    padding-top: 0.5rem;
    padding-left: 0.5rem;


    img {
      width: 1.5rem;
      height: 1.5rem;
      filter: invert(40%);
    }
  }

  h1 {
    font-size: 2.25em;
    text-align: center;
    padding: 1em 0;
  }
}

.app__discography-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 1em 1.5em 1em;

  // sm screens max-width: 512px
  @media screen and (max-width: 32em) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.app__discography-album {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding-top: 1em;
  }

  p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;

    // xs screens max-width: 400px
    @media screen and (max-width: 25em) {
      font-size: 1rem;
    }
  }

  li {
    list-style: none;
  }
}

.discography__album-img {
  width: 25em;
  height: 25em;
  padding: 1rem 0;

  // xs screens max-width: 400px
  // @media screen and (max-width: 25em) {
  //   width: 10em;
  //   height: 10em;
  // }

  // sm screens max-width: 640px
  @media screen and (max-width: 40em) {
    width: 15em;
    height: 15em;
  }
}
