.app__article {
  border: 1px solid black;

  margin: 2rem auto;
  max-width: 750px;

  h1 {
    font-size: 1.2rem;
    font-weight: 800;
  }

  p {
    font-style: italic;
    font-size: 0.9rem;
  }
}