.app__news-container {
  // border: 1px solid black;
  text-align: center;
  background-color: var(--light-color);
  color: var(--dark-color);
  // height: 80vh;

  .app__news-container-title {
    border-bottom: 1px solid var(--dark-color);
    display: block;
    margin: 2rem auto;
    text-align: center;
    max-width: 25%;
    font-size: 3.5rem;
  }

  .swiperSlide {
    min-height: 60vh;
  }
}
