.app__news-container {
  text-align: center;

  .app__news-container-title {
    border-bottom: 1px solid var(--dark-color);
    display: block;
    margin: 2rem auto;
    text-align: center;
    max-width: 25%;
    font-size: 3.5rem;
  }

  .swiperSlide {
    min-height: 50vh;
  }
}