.app__header-img {
  width: 100%;
  height: 150vh;
  position: relative;
  background-image: url(../../assets/indigo_header.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // background-color: #000;
  color: var(--bg-light);
}