.up-btn {
  position: fixed;
  bottom: 0;
  right: 7rem;

  background-color: transparent;
  border: 1px solid var(--dark-color);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 20% 20% 0 0;
  cursor: pointer;

  img {
    height: 1.2rem;
    width: 1.2rem;
  }

  &:hover {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    opacity: 0.9;
    transition: 0.3s ease-in-out;
  
    img {
      filter: invert(100%);
    }
  }
}