.app__release {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
  }

  a {
    border: 1px solid var(--dark-color);
    background-color: transparent;
  }

  a:visited {
    color: var(--dark-color);
  }

  a:hover {
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--light-color);
  }
}

.app__release-title {
  margin-bottom: 1rem;
  font-weight: 800;
}