.video__wrapper {
  text-align: center;
  margin: 1em 0;

  // xs screens max-width: 400px
  @media screen and (max-width: 25em) {
    // iframe {
    //   width: 100%;
    //   // height: 100%;
    // }
  }

  // sm screens max-width: 640px
  @media screen and (max-width: 40em) {
    iframe {
      width: 100%;
    }
  }
}